#{extends 'main.html' /}

<section id="sidebar">
	<section>
	
	<div class="bloc filtre">
	   <div class="title">Filtrer les tiers</div>
	   <div class="content">
	     #{if filtreTiers && filtreTiers != ''}
	     <div class="valeur">
	       Filtre actif : ${filtreTiers}
	       <a href="@{Tiers.supprimerFiltre()}" ><img src="@{'/public/images/close.png'}"/></a>
	     </div>
	     #{/if}
	     <div class="formulaire">
	     #{form @Tiers.index()}
          <input type="text" id="filtreTiers" name="filtreTiers" />
          <input type="submit" name="valid"  value="Valider" class="button"/>
         #{/form}
	     </div>
	   </div>
	</div>
	
	</section>
</section>

<section id="content">
#{doLayout /}
</section>