#{extends 'Comptes/template.html' /}
#{set title: titre + ' un compte' /}

#{set 'moreScripts'}
<script type="text/javascript" charset="UTF-8">
$(document).ready(function() {
	$("#delete").click(function(){
		$("#deleteConfirmation").show("slow");
	});
	$("#deleteAnnuler").click(function(){
		$("#deleteConfirmation").hide("slow");
	});
}); 
</script>
#{/set}

<div class="bloc">
    <div class="title">${titre} un compte</div>
    <div class="content">
		<section>
			#{ifErrors}
				<div class="notif error">
		            <strong>Erreur :</strong> Veuillez corriger les erreurs avant de continuer. <a href="#!" class="close"></a>
		        </div>
			#{/ifErrors}
			#{form @Comptes.enregistrer()}
				#{if compte}
				<input type="hidden" name="compte.id" value="${compte.id}"/>
				#{/if}
				
				#{bankable.textField 'compte.nom'}
					#{textFieldBody field, label:'Nom', mandatory:true /}
				#{/bankable.textField}
				
				#{bankable.textField 'compte.solde'}
					#{textFieldBody field, label:'Solde', mandatory:true, calculator:true /}
				#{/bankable.textField}
				
				#{bankable.textField 'compte.numero'}
					#{textFieldBody field, label:'Num&eacute;ro' /}
				#{/bankable.textField}
				
				#{bankable.textField 'compte.etablissement'}
					#{textFieldBody field, label:'Etablissement' /}
				#{/bankable.textField}
				<div class="submit">
		            <input type="submit" value="Valider" />&nbsp;<a href="#{if compte}@{Comptes.index(compte.id)}#{/if}#{else}@{Comptes.index()}#{/else}" class="button white">Annuler</a>
		        </div>
			#{/form}
		</section>
	</div>
</div>

#{if compte?.id}
<div class="bloc">
    <div class="title">Supprimer les op&eacute;rations</div>
    <div class="content">
		<section id="deleteAllOperations">
			<p>Etes-vous s&ucirc;r de vouloir supprimer toutes les op&eacute;rations de ce compte?</p>
			<div class="submit">
				<a href="#!" id="delete" class="button black">Supprimer d&eacute;finitivement</a>
				<div id="deleteConfirmation"><a href="@{Comptes.vider(compte.id)}" class="button">Confirmation</a>&nbsp;<a href="#!" id="deleteAnnuler" class="button white">Annuler</a></div>
			</div>
		</section>
	</div>
</div>
#{/if}