#{extends 'Comptes/template.html' /}
#{set title: compte != null ? compte.nom + ' | Résumé' : 'Comptes' /}

#{if compte}

#{set 'moreScripts'}
<script type="text/javascript" charset="UTF-8">
$(document).ready(function() {
	
	#{if libelle || montant || tag || date}
	$("tr#search").show();
	#{/if}
	
	$("tr#head a#showSearch").click(function(){
		$("tr#search").toggle();
	});
	$("tr#search a#hideSearch").click(function(){
		$("tr#search").hide();
	});
	
	var listAction = #{jsAction @Operations.pointer(':compteId', ':operationId') /}
	$("a.linkRapproche").click(function(e){
		var linkRapproche = $(this);
   		$.get(listAction({compteId: ${compte.id}, operationId: $(this).attr('value')}), function(data) {
   			linkRapproche.toggleClass("pointee");
   			if (linkRapproche.is('.pointee')) {
   				linkRapproche.attr("title", "Pointée");
   			}
   			else {
   				linkRapproche.attr("title", "Non Pointée");
   			}
		});
	});
	
	$("a#linkRapprocher").click(function(e){
		e.preventDefault();
		if (confirm('Etes vous sûr de vouloir rapprocher les opérations pointée ?')) {
            document.location.href = $(this).attr("href");
        }
	});
	
	$("a.supprimer").click(function(e){
		e.preventDefault();
		if (confirm('Etes vous sûr de vouloir supprimer cette opération ?')) {
            document.location.href = $(this).attr("href");
        }
	});
}); 
</script>
#{/set}

<div class="bloc">
    <div class="title">${compte.nom}<a href="@{Comptes.editer(compte.id)}">Editer</a></div>
    <div class="content">
		<section id="infoCompte">
			<p><label>Solde courant: </label>#{plusMinus compte.solde /}<span>${compte.solde.formatPositive('0.00')}&nbsp;&euro;</span></p>
			<p><label>Num&eacute;ro: </label><span>${compte.numero}&nbsp;</span></p>
			<p><label>Etablissement: </label><span>${compte.etablissement}&nbsp;</span></p>
		</section>
	</div>
</div>

<div class="bloc">
    <div class="title">Op&eacute;rations</div>
    <div class="content">
		<section>
			<div class="submit">
				<ul class="actions">
					<li><a href="@{Operations.ajouter(compte.id)}" class="button">Ajouter une op&eacute;ration</a></li>
					<li><a href="@{Operations.importer(compte.id)}" class="button">Importer des op&eacute;rations</a></li>
					<li><a href="@{Comptes.rapprocher(compte.id)}" id="linkRapprocher" class="button">Rapprocher les op&eacute;rations point&eacute;es</a></li>
				</ul>
			</div>
			#{if compte.operations}
			#{pagination pagination, url:actionBridge.Comptes.index(compte.id) /}
			#{form @Comptes.filtrer(), id:'formFilter', enctype:'multipart/form-data', method:'POST'}
			<table>
				<thead>
					<tr id="head">
						<th colspan="2"><a href="#!" id="showSearch"><img src="@{'/public/images/magnifier.png'}" /></a><th>Description</th><th class="debitCredit">Montant</th><th>Tags</th><th class="date">Date</th><th>&nbsp;</th>
					</tr>
					<tr id="search" style="display: none;">
						<th colspan="2"><input type="hidden" name="compteId" value="${compte.id}"/></th><th><input type="text" placeholder="Description" name="libelle" value="${libelle}"/></th><th class="debitCredit"><input type="text" placeholder="Montant" name="montant" value="${montant}"/></th><th><input type="text" placeholder="Tag" name="tag" value="${tag}" /></th><th class="date"><input type="text" placeholder="Date" name="date" value="${date}" /></th><th><a href="#!" onClick="javascript:formFilter.submit();"><img src="@{'/public/images/accept.png'}" title="Filtrer" alt="Filtrer"/></a><a href="@{Comptes.index(compte.id)}" ><img src="@{'/public/images/cross.png'}" title="Annuler" alt="Annuler"/></a></th>
					</tr>
				</thead>
				<tbody>
					#{list items:operations, as:'operation'}
					<tr>
						<td class="check"><input type="checkbox"></td>
						<td class="rapproche"><a href="#!" value="${operation.id}" class="linkRapproche #{if models.EEtatOperation.NONPOINTEE == operation.etat}" title="Non Point&eacute;e"#{/if}#{if models.EEtatOperation.POINTEE == operation.etat}pointee" title="Point&eacute;e"#{/if}#{if models.EEtatOperation.RAPPROCHEE == operation.etat}rapprochee" title="Rapproch&eacute;e"#{/if}>&nbsp;</a></td>
						<td class="libelle">${operation.libelle}</td>
						<td class="debitCredit">#{if models.ETypeOperation.DEBIT == operation.type}#{plusMinus -1 /}#{/if}#{else}#{plusMinus 1 /}#{/else}${operation.montant.format('0.00')}&nbsp;&euro;</td>
						<td class="tags">#{if operation.tags.size() > 0}${operation.tags.join('nom', ', ')}#{/if}#{else}<span class="noTag">(aucun)</span>#{/else}</td>
						<td class="date"><span title="${operation.date.format('dd/MM/yyyy HH:mm:ss')}">${operation.date.format('dd/MM/yyyy')}</span></td>
						<td class="actions"><a href="@{Operations.editer(operation.compte.id, operation.id)}" title="Editer"><img src="@{'/public/images/edit.png'}" alt="Editer" class="editer"></a><a href="@{Operations.supprimer(operation.compte.id, operation.id)}" title="Supprimer" class="supprimer"><img src="@{'/public/images/delete.png'}" alt="Supprimer"></a></td>
					</tr>
					#{/list}
				</tbody>
				<tfoot></tfoot>
			</table>
			#{/form}
			#{pagination pagination, url:actionBridge.Comptes.index(compte.id) /}
			#{/if}
			#{else}
				<p>Aucune opération</p>
			#{/else}
		</section>
	</div>
</div>
#{/if}
#{else}
 Veuillez choisir un compte pour voir son d&eacute;tail
#{/else}