#{extends 'TagsController/template.html' /}
#{set title:'Tags' /}

#{if currentTag}
#{set 'moreStyles'}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load('visualization', '1', {packages: ['corechart']});</script>
<script type="text/javascript">
	function drawTagResume() {
	  var data = new google.visualization.DataTable();
	  data.addColumn('string', 'Tag');
	  data.addColumn('number', '${currentTag.nom.raw()}');
	  #{list items:datas.entrySet(), as:'entry'}
	  	data.addRow(["${entry.getKey()}", ${entry.getValue()}]);
	  #{/list}
	
	  var formatter = new google.visualization.NumberFormat({suffix: ' €'});
	  formatter.format(data, 1);
	
	  var chart = new google.visualization.ColumnChart(document.getElementById('chartTagResume'));
	  chart.draw(data, {backgroundColor: '#F7F7F7' ${color}});
	}
	google.setOnLoadCallback(drawTagResume);
</script>
#{/set}

<div class="bloc">
    <div class="title">R&eacute;sum&eacute; du tag "${currentTag.nom}"</div>
    <div class="content">
    	<div id="chartTagResume" style="height: 350px;"></div>
    </div>
</div>
<div class="bloc">
    <div class="title">Op&eacute;rations tagg&eacute;es avec le tag "${currentTag.nom}"</div>
	#{if operations}
    <div class="content">
        #{pagination pagination, url:actionBridge.Tags.detail(compte.id, currentTag.id) /}
        <table>
            <thead>
                <tr>
                	<th>Description</th><th class="debitCredit">Montant</th><th>Tags</th><th class="date">Date</th>
                </tr>
            </thead>
            <tbody>
                #{list items:operations, as:'operation'}
				<tr>
					<td class="libelle">${operation.libelle}</td>
					<td class="debitCredit">#{if models.ETypeOperation.DEBIT == operation.type}#{plusMinus -1 /}#{/if}#{else}#{plusMinus 1 /}#{/else}${operation.montant.format('0.00')}&nbsp;&euro;</td>
					<td class="tags">#{if operation.tags}${operation.tags.join('nom', ', ')}#{/if}#{else}<span class="noTag">(aucun)</span>#{/else}</td>
					<td class="date"><span title="${operation.date.format('dd/MM/yyyy HH:mm:ss')}">${operation.date.format('dd/MM/yyyy')}</span></td>
				</tr>
				#{/list}
            </tbody>
        </table>
        #{pagination pagination, url:actionBridge.Tags.detail(compte.id, currentTag.id) /}
    </div>
	#{/if}
	#{else}
    <div class="content">
		<p>Aucune opération</p>
	</div>
	#{/else}
</div>
#{/if}
