#{extends 'main.html' /}

<section id="sidebar">
	<section>
		<select id="choixComptePourTag">
			#{list items:allComptes, as:'unCompte'}
			<option value="${unCompte.id}" #{if compte && compte.id == unCompte.id}selected="selected"#{/if}>${unCompte.nom}</option>
			#{/list}
		</select>
		<div id="panelTagList" >
			<ul class="tagList">
			#{list items:allTags, as:'unTag'}
				<li #{if currentTag}#{if currentTag.id == unTag.id}class='current'#{/if}#{/if}><input type="checkbox" id="chk-tag-${unTag.id}" value="${unTag.id}" ${unTag.showOnGraph ? "checked" : ""}><a href="@{TagsController.detail(compte.id, unTag.id)}">${unTag.nom}</a></li>
			#{/list}
			</ul>
		</div>
	</section>
</section>

<section id="content">
#{doLayout /}
</section>