#{extends 'main.html' /}

<section id="sidebar">
	<section>
		<ul>
			<li class="nosubmenu"><a href="@{Echeances.ajouter}">Ajouter</a></li>
		</ul>
	</section>
	<section>
		#{if allComptes}
			<select id="choixComptePourEcheance">
				#{list items:allComptes, as:'unCompte'}
				<option value="${unCompte.id}" #{if compte && compte.id == unCompte.id}selected="selected"#{/if}>${unCompte.nom}</option>
				#{/list}
			</select>
			#{if echeances}
			<ul class="echeanceList">
			#{list items:echeances, as:'uneEcheance'}
				<li #{if echeance}${echeance.id == uneEcheance.id ? "class='current'" : ""}#{/if}><a href="@{Echeances.editer(uneEcheance.id)}">#{if models.ETypeEcheance.DEBIT == uneEcheance.type}#{plusMinus -1 /}#{/if}#{else}#{plusMinus 1 /}#{/else}${uneEcheance.description}</a></li>
			#{/list}
			</ul>
			#{/if}
			#{else}
				<p>Aucune &eacute;cheances</p>
			#{/else}
		#{/if}
	</section>
</section>
<section id="content">
#{doLayout /}
</section>