#{extends 'Application/template.html' /}
#{set title:'Résumé' /}

<div class="bloc left">
    <div class="title">R&eacute;sum&eacute;</a></div>
    <div class="content">
    &nbsp;
    </div>
</div>
<div class="bloc right">
    <div class="title">Informations</div>
    <div class="content">
       <div class="left">
            <table class="noalt">
                <thead>
                    <tr>
                        <th colspan="2"><em>Aujourd'hui</em></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${resume.todayCredits ? resume.todayCredits : "0"}</td>
                        <td>Cr&eacute;dit${resume.todayCredits > 0 ? "s" : ""}#{plusMinus 1 /}</td>
                    </tr>
                    <tr>
                        <td>${resume.todayDebits ? resume.todayDebits : "0"}</td>
                        <td>D&eacute;bit${resume.todayDebits > 0 ? "s" : ""}#{plusMinus -1 /}</td>
                    </tr>
                    <tr>
                        <td>${resume.todayEcheances ? resume.todayEcheances : "0"}</td>
                        <td>Ech&eacute;ance${resume.todayEcheances > 0 ? "s" : ""}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="right">
            <table class="noalt">
                <thead>
                    <tr>
                        <th colspan="2"><em>Semaine</em></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${resume.weekCredits ? resume.weekCredits : "0"}</td>
                        <td>Cr&eacute;dit${resume.weekCredits > 0 ? "s" : ""}#{plusMinus 1 /}</td>
                    </tr>
                    <tr>
                        <td>${resume.weekDebits ? resume.weekDebits : "0"}</td>
                        <td>D&eacute;bit${resume.weekDebits > 0 ? "s" : ""}#{plusMinus -1 /}</td>
                    </tr>
                    <tr>
                        <td>${resume.weekEcheances ? resume.weekEcheances : "0"}</td>
                        <td>Ech&eacute;ance${resume.weekEcheances > 0 ? "s" : ""}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cb"></div>
    </div>
</div>
<div class="cb"></div>