<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="UTF_8">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/reset.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="UTF-8"></script>
    #{get 'moreScripts' /}
    <script type="text/javascript" charset="UTF-8">
    $(document).ready(function(){
    	// Masquage des notifications
    	$(".notif a.close").click(function(){
    		$(this).parent().fadeTo(500,0).slideUp();
    		return false;
    	});
    	
    	// Checkbox de la liste des Tags
    	var listAction = #{jsAction @Tags.showTagOnGraph(':tagId', ':show') /}
    	$("#sidebar ul.tagList input").click(function(e){
    		$.get(listAction({tagId: $(this).val(), show: ($(this).attr('checked') == 'checked' ? true : false)}), function(data) {
   			  document.location.href = "@{Tags.index()}";
   			});
    	});
    	
		// Select pour Tags
    	$('#choixComptePourTag').change(function(){
    		document.location.href = "@{Tags.index}/compte/" + $(this).val();
    	});
    	
		// Select pour Echeances
    	$('#choixComptePourEcheance').change(function(){
    		document.location.href = "@{Echeances.index}/compte/" + $(this).val();
    	});
	 });
	</script>
</head>
<body>
	<header>
        <div class="left tabs">
            <ul>
				<li><a href="@{Application.index}" ${request.action =~ "Application." ? "class='active'" : ""}>R&eacute;sum&eacute;</a></li>
				<li><a href="@{Comptes.index}"${request.action =~ "Comptes." ? "class='active'" : ""}>Comptes</a></li>
				<li><a href="@{Budgets.index}"${request.action =~ "Budgets." ? "class='active'" : ""}>Budgets</a></li>
				<li><a href="@{Echeances.index}"${request.action =~ "Echeances." ? "class='active'" : ""}>Ech&eacute;ances</a></li>
                                <li><a href="@{Tags.index}"${request.action =~ "Tags." ? "class='active'" : ""}>Tags</a></li>
				<li><a href="@{Tiers.index}"${request.action =~ "Tiers." ? "class='active'" : ""}>Tiers</a></li>
				#{if request.action =~ "Operations."}
				<li><a href="#!" ${request.action =~ "Operations." ? "class='active'" : ""}>Op&eacute;rations</a></li>
				#{/if}
			</ul>
        </div>
    </header>
    #{doLayout /}
</body>
</html>
