#{extends 'Operations/template.html' /}
#{set title: compte.nom + ' | ' + titre + ' une opération' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/flick/jquery-ui-1.8.15.css'}">
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.tagit.css'}">
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery-ui-1.8.15.min.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/jquery.ui-1.8.15.datepicker-fr.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/tag-it.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function() {
	$.datepicker.setDefaults($.datepicker.regional["fr"]);
	$(".datepicker").datepicker("option", $.datepicker.regional["fr"]);
	$(".datepicker").datepicker({
		showButtonPanel: true
	});
	
	var sampleTags = ['${allTags.joinWithRaw("nom", "', '")}'];
	$('#tags').tagit({
		availableTags: sampleTags
	});
}); 
</script>
#{/set}

<div class="bloc">
    <div class="title">${compte.nom} | ${titre} une opération</div>
    <div class="content">
		<section>
			#{if flash.success}
			    <div class="notif success">
		            <strong>Succ&eacute;s :</strong> ${flash.success} <a href="#!" class="close"></a>
		        </div>
			#{/if}
			#{ifErrors}
				<div class="notif error">
		            <strong>Erreur :</strong> Veuillez corriger les erreurs avant de continuer. <a href="#!" class="close"></a>
		        </div>
			#{/ifErrors}
			#{form @Operations.enregistrer()}
				#{if operation}
				<input type="hidden" name="operation.id" value="${operation.id}"/>
				<input type="hidden" name="oldMontant" value="${operation.montant}"/>
				#{/if}
				<input type="hidden" name="operation.compte.id" value="${compte.id}"/>
				<p>
					<label for="date">Date<span class="mandatory">*</span> :</label><input type="text" id="date" name="operation.date" class="datepicker" value="#{if operation}${operation.date.format("dd/MM/yyyy")}#{/if}#{else}${flash.get("operation.date)")}#{/else}"/>
					<span class="error">#{error 'operation.date' /}</span>
				</p>
				<p>
					<label for="libelle">Libell&eacute;<span class="mandatory">*</span> :</label><input type="text" id="libelle" name="operation.libelle" value="#{if operation}${operation.libelle}#{/if}#{else}${flash.get("operation.libelle")}#{/else}"/>
					<span class="error">#{error 'operation.libelle' /}</span>
				</p>
				<p>
					<label for="montant">Montant<span class="mandatory">*</span> :</label><input type="text" id="montant" name="operation.montant" value="#{if operation}${operation.montant}#{/if}#{else}${flash.get("operation.montant")}#{/else}"/>
					<span class="error">#{error 'operation.montant' /}</span>
				</p>
				<p>
					<label>Type<span class="mandatory">*</span> :</label><select name="operation.type">
						<option></option>
						#{list items:models.ETypeOperation, as:'typeOperation'}
						<option value="${typeOperation}" #{if operation}#{if typeOperation == operation.type}selected#{/if}#{/if}#{else}#{if flash.get("operation.type") == typeOperation}selected#{/if}#{/else}>&{'ETypeOperation.' + typeOperation}</option>
						#{/list}
					</select>
					<span class="error">#{error 'operation.type' /}</span>
				</p>
				<p>
					<label for="tags">Tags :</label><input type="text" id="tags" name="tags" value="#{if operation}${operation.tags.join('nom', ', ')}#{/if}#{else}${flash.get("tags")}#{/else}"/>
					<span class="error">#{error 'tags' /}</span>
				</p>
				<p>
					<label for="numero">Num&eacute;ro :</label><input type="text" id="numero" name="operation.numero" value="#{if operation}${operation.numero}#{/if}#{else}${flash.get("operation.numero")}#{/else}" />
					<span class="error">#{error 'operation.numero' /}</span>
				</p>
				<p>
					<label for="detail">D&eacute;tail :</label><input type="text" id="detail" name="operation.detail" value="#{if operation}${operation.detail}#{/if}#{else}${flash.get("operation.detail")}#{/else}" />
					<span class="error">#{error 'operation.detail' /}</span>
				</p>
				<div class="submit">
		            <input type="submit" name="valid"  value="Valider" />&nbsp;
					<input type="submit" name="validQuit" value="Valider & Fermer" class="white" />&nbsp;<a href="@{Comptes.resume(compte.id)}" class="button white">Annuler</a>
		        </div>
			#{/form}
		</section>
	</div>
</div>