#{extends 'Operations/template.html' /}
#{set title: compte.nom + ' | ' + titre + ' une opération' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/flick/jquery-ui-1.8.15.css'}">
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.tagit.css'}">
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.calculator.css'}">
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/chosen.css'}" />
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery-ui-1.8.15.min.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/jquery.ui-1.8.15.datepicker-fr.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/tag-it.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/jquery.calculator.pack.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/jquery.calculator-fr.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/chosen.jquery.min.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function() {
	$.datepicker.setDefaults($.datepicker.regional["fr"]);
	$(".datepicker").datepicker("option", $.datepicker.regional["fr"]);
	$(".datepicker").datepicker({
		showButtonPanel: true
	});
	
	var sampleTags = ['${allTags.joinWithRaw("nom", "', '")}'];
	$('#tags').tagit({
		availableTags: sampleTags
	});
	
	$('.calculator').calculator({
		useThemeRoller: true, showOn: 'button', buttonImageOnly: true, buttonImage: '@{'/public/images/calculator.png'}'
	});
	
	 $(".chzn-select").chosen();
}); 
</script>
#{/set}

<div class="bloc">
    <div class="title">${compte.nom} | ${titre} une op&eacute;ration</div>
    <div class="content">
		<section>
			#{if flash.success}
			    <div class="notif success">
		            <strong>Succ&eacute;s :</strong> ${flash.success} <a href="#!" class="close"></a>
		        </div>
			#{/if}
			#{ifErrors}
				<div class="notif error">
		            <strong>Erreur :</strong> Veuillez corriger les erreurs avant de continuer. <a href="#!" class="close"></a>
		        </div>
			#{/ifErrors}
			#{form @Operations.enregistrer()}
				#{if operation}
				<input type="hidden" name="operation.id" value="${operation.id}"/>
				<input type="hidden" name="oldMontant" value="${operation.montant}"/>
				#{/if}
				<input type="hidden" name="operation.compte.id" value="${compte.id}"/>
				
				#{bankable.textField 'operation.date'}
					#{textFieldBody field, label:'Date', datepicker:true, mandatory:true /}
				#{/bankable.textField}
				
				#{bankable.textField 'operation.libelle'}
					#{textFieldBody field, label:'Libell&eacute;', mandatory:true /}
				#{/bankable.textField}
				
				#{bankable.textField 'operation.montant'}
					#{textFieldBody field, label:'Montant', mandatory:true, calculator:true /}
				#{/bankable.textField}
				
				#{field 'operation.type'}
				<p class="fat">
					<label for="${field.id}">Type<span class="mandatory">*</span> :</label>
					<select id="${field.id}" name="${field.name}" class="chzn-select" data-placeholder="Choisissez un Type...">
						<option></option>
						#{list items:models.ETypeOperation, as:'typeOperation'}
						<option value="${typeOperation}" #{if operation}#{if typeOperation == operation.type}selected#{/if}#{/if}>&{'ETypeOperation.' + typeOperation}</option>
						#{/list}
					</select>
					<span class="error">#{error field.name /}</span>
				</p>
				#{/field}
				#{field 'tags'}
				<p class="fat">
				  <label for="${field.id}">Tags :</label>
				  <input type="text" id="${field.id}" name="${field.name}" value="${operation && operation.tags != null ? operation.tags.join('nom', ', ') : field.value}"/>
				  <span class="error">#{error field.name /}</span>
				</p>
				#{/field}
				
				#{field 'operation.tiers'}
				<p class="fat">
					<label for="${field.id}">Tiers :</label>
					<select id="${field.id}" name="${field.name}" class="chzn-select" data-placeholder="Choisissez un Tiers...">
						<option></option>
						#{list items:allTiers, as:'tiers'}
						<option value="${tiers.id}" #{if operation}#{if tiers == operation.tiers}selected#{/if}#{/if}>${tiers.civilite?.abreviation} ${tiers.designation}</option>
						#{/list}
					</select>
					<span class="error">#{error field.name /}</span>
				</p>
				#{/field}
				
				#{bankable.textField 'operation.numero'}
					#{textFieldBody field, label:'Num&eacute;ro' /}
				#{/bankable.textField}
				
				#{bankable.textField 'operation.detail'}
					#{textFieldBody field, label:'D&eacute;tail' /}
				#{/bankable.textField}
				
				<div class="submit">
		            <input type="submit" name="valid"  value="Valider" />&nbsp;
					<input type="submit" name="validQuit" value="Valider & Fermer" class="white" />&nbsp;<a href="@{Comptes.index(compte.id)}" class="button white">Annuler</a>
		        </div>
			#{/form}
		</section>
	</div>
</div>