#{extends 'Operations/template.html' /}
#{set title: 'Importer des opérations' /}

<div class="bloc">
    <div class="title">Importer</div>
    <div class="content">
	#{ifErrors}
		<ul>
			#{errors}
			<li><span class="error">${error}</span></li>
			#{/errors}
		</ul>
	#{/ifErrors}
	#{form @Operations.importUpload(compte.id), enctype:'multipart/form-data'}
		<p><label for="fichier">Fichier à envoyer: </label><input type="file" name="fichier" id="fichier"/></p>
	    <div class="submit">
	    	<input type="submit" value="Envoyer" />&nbsp;<a href="@{Comptes.index(compte.id)}" class="button white">Annuler</a>
	    </div>
	#{/form}
	</div>
</div>
#{if operationsImport}

<div class="bloc">
    <div class="title">Importer</div>
    <div class="content">
		<section id="panelImport">
			#{form @Operations.importerOperations(compte.id), enctype:'multipart/form-data'}
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Num&eacute;ro</th>
							<th>Libell&eacute;</th>
							<th>Montant</th>
							<th>Type</th>
							<th>D&eacute;tail</th>
						</tr>
					</thead>
					<tbody>
						#{list items:operationsImport, as:'operation'}
							<tr>
								<td>${operation.date.format("dd/MM/yyyy")}</td>
								<td>${operation.numero}</td>
								<td>${operation.libelle}</td>
								<td>#{if models.ETypeOperation.DEBIT == operation.type}<img src="@{'/public/images/minus.gif'}" title="D&eacute;bit" class="debitCredit">#{/if}#{else}<img src="@{'/public/images/plus.gif'}" title="Cr&eacute;dit" class="debitCredit">#{/else}${operation.montant}</td>
								<td>&{'ETypeOperation.' + operation.type}</td>
								<td>${operation.detail}</td>
							</tr>
						#{/list}
					</tbody>
				</table>
				 <div class="submit">
			    	<input type="submit" value="Valider l'importation" />
			    </div>
			#{/form}
		</section>
	</div>
</div>
#{/if}	