#{extends 'main.html' /}

<section id="sidebar">
</section>
<section id="content">
<div class="bloc">
    <div class="title">${compte.nom}</div>
    <div class="content">
		<section id="infoCompte">
			<p><label>Solde courant: </label>#{plusMinus compte.solde /}<span>${compte.solde.formatPositive('0.00')}&nbsp;&euro;</span></p>
			<p><label>Solde rapproch&eacute;: </label>#{plusMinus compte.soldeRapproche /}<span>${compte.soldeRapproche.formatPositive('0.00')}&nbsp;&euro;</span></p>
			<p><label>Num&eacute;ro: </label><span>${compte.numero}&nbsp;</span></p>
			<p><label>Etablissement: </label><span>${compte.etablissement}&nbsp;</span></p>
		</section>
	</div>
</div>
#{doLayout /}
</section>